<aside>
  <div class="location"><div class="icon">{% include img/icons/pin.svg %}</div><div class="name">{{ me.location }}</div></div>
  <div>
    <ul class="socials">
      {% for social in me.socials %}
        <li>
          <a href={{social.url}} alt={{social.network}}><img src="{{social.icon}}" alt="{{social.network}}"/></a>
        </li>
      {% endfor %}
    </ul>
  </div>
</aside>
