---
layout: base.liquid
---
<div class="page post">
  <h1>
    {%- if tags contains "book" -%}
      {{ "/img/icons/book-light.svg" | svgContents: "icon" | safe }}    {%- endif -%}
    {{ title }}
  </h1>
  <p>{{ date | date: "%B %e, %Y"}}</p>
  <!-- <ul>
    {%- for tag in tags -%}
      {% if tag != "posts" %}
        <li>
          {{ tag }}
        </li>
      {% endif %}
    {%- endfor %}
  </ul> -->
  <article>{{ content | safe }}</article>
</div>
