---
layout: base.liquid
---
<div class="page post">
  <h1>
    {%- if book -%}
      {{ "/img/icons/book-light.svg" | svgContents: "icon" | safe }}    {%- endif -%}
    {{ title }}
  </h1>
  <h3>{{ date | date: "%B %e, %Y"}}</h3>
  {%- assign classes = "content" -%}
  {%- if book -%}
    {%- assign classes = classes | append: " has-book" -%}
  {%- endif -%}
  <div class="{{ classes }}">
    {%- if book -%}
    <aside>
      {%- if book.image -%}<img src="./../../img/books/{{ book.image }}" />{%- endif -%}
      <div>
        {%- if book.title -%}<h4>{{ book.title }}</h4>{%- endif -%}
        {%- if book.author -%}<p>by {{ book.author }}</p>{%- endif -%}
        {%- if book.link -%}<a href="{{ book.link }}">Get it here</a>{%- endif -%}
      </div>
    </aside>
    {%- endif -%}
    <article>
      {{ content | safe }}
    </article>
  </div>
</div>
