---
title: Books
layout: layouts/base.liquid
---
<div class="page books">
  <div class="year content">
    <h3>Currently reading</h3>
    {%  assign currentlyReading = books | getCurrentBooks %}
    <ul class="shelf content">
      {% for book in currentlyReading %}
      <li class="book-container">
        <div class="book page-count-{{ book.pages | divided_by: 100 | floor | times: 100 }}">
          <img src="/img/books/{{book.image}}" alt="{{ book.title }}" />
        </div>
        <progress id="file" max="{{book.pages}}" value="{{book.progress}}"></progress>
      </li>
      {% endfor %}
    </ul>
  </div>
    {% getBooks books %}
</div>

