---
title: Admin
---
<div class="page admin">
  <h2 data-id="start" class="visible"><div class="toggle">{{ "/src/img/icons/chevron-down-solid.svg" | svgContents: "icon"  }}</div><span>Start a Book</span></h2>
    <div class="buttons">
      <input class="code_deploy" type="password" pattern="[0-9]*" inputmode="numeric" />
      <button id="submit_deploy" class="submit" disabled>Deploy</button>
    </div>
  <section class="section_start visible">
    {% assign notStarted_books = books | notStarted | sort: "title"  %}
    <table cell-padding="0">
      <thead>
        <tr>
          <th class="cover"></th>
          <th>Title</th>
          <th class="pages">Pages</th>
          <th class="date">Start Date</th>
        </tr>
      </thead>
      {% for book in notStarted_books %}
      {% assign src = book['cover'][0].thumbnails.large.url %}
      {% assign alt = book['title'] %}
        <tr data-id="{{ book.id }}">
          <td class="cover">{% image src, alt, "books" %}</td>
          <td>{{ book.title }}</td>
          <td class="pages"><input data-id="{{ book.id }}" class="start_pagesFinish" type="number" min="0" max="{{book.pages}}" value="{{ book.pagesFinish }}"/>/{{ book.pages }}</td>
          <td class="date"><input type="date" data-id="{{ book.id }}" class="start_dateStart"  /></td>
        </tr>
      {% endfor %}
    </table>
    <div class="buttons">
      <input class="code_start" type="password" pattern="[0-9]*" inputmode="numeric" />
      <button id="reset_start" class="reset" disabled>Reset</button>
      <button id="submit_start" class="submit" disabled>Save</button>
    </div>
  </section>
  <h2 data-id="read" class="visible"><div class="toggle">{{ "/src/img/icons/chevron-down-solid.svg" | svgContents: "icon"  }}</div><span>Read a Book</span></h2>
  <section class="section_read visible">
    {% assign current_books = books | currentlyReading | sort: "dateStart" | reverse %}
    <table>
      <thead>
        <tr>
          <th class="cover"></th>
          <th>Title</th>
          <th class="pages">Pages</th>
          <th class="date">Date Start</th>
        </tr>
      </thead>
      {% for book in current_books %}
        {% assign src = book['cover'][0].thumbnails.large.url %}
        {% assign alt = book['title'] %}
        <tr data-id="{{ book.id }}">
          <td class="cover">{% image src, alt, "books" %}</td>
          <td>{{ book.title }}</td>
          <td class="pages"><input data-id="{{ book.id }}" class="read_pagesFinish" type="number" min="0" max="{{book.pages}}" value="{{ book.pagesFinish }}" data-initialValue="{{ book.pagesFinish }}"/>/{{ book.pages }}</td>
          <td class="date"><input type="date" data-id="{{ book.id }}" class="read_dateStart" value="{{ book.dateStart }}" disabled/></td>
        </tr>
      {% endfor %}
    </table>
    <div class="buttons">
      <input class="code_read" type="password" pattern="[0-9]*" inputmode="numeric" />
      <button id="reset_read" class="reset" disabled>Reset</button>
      <button id="submit_read" class="submit" disabled>Save</button>
    </div>

  </section>
  <h2 data-id="finish"  class="visible"><div class="toggle">{{ "/src/img/icons/chevron-down-solid.svg" | svgContents: "icon"  }}</div><span>Finish a Book</span></h2>
  <section class="section_finish visible">
    {% assign current_books = books | currentlyReading | sort: "dateStart" | reverse %}
    <table>
      <thead>
        <tr>
          <th class="cover"></th>
          <th>Title</th>
          <th class="stars">Stars</th>
          <th class="date">Date Finish</th>
        </tr>
      </thead>
      {% for book in current_books %}
        {% assign src = book['cover'][0].thumbnails.large.url %}
        {% assign alt = book['title'] %}
        <tr data-id="{{ book.id }}">
          <td class="cover">{% image src, alt, "books" %}</td>
          <td>{{ book.title }}</td>
          <td class="stars">
            <div>
            {% for i in (1..5) %}
              <button class="star finish_stars" data-id="{{ book.id }}" data-value="{{ i }}">{{ "/src/img/icons/star-solid.svg" | svgContents: "icon"  }}</button>
            {% endfor %}
            </div>
          </td>
          <td class="date"><input type="date" data-id="{{ book.id }}" class="finish_dateFinish"  /></td>
        </tr>
      {% endfor %}
    </table>
    <div class="buttons">
      <input class="code_finish" type="password" pattern="[0-9]*" inputmode="numeric" />
      <button id="reset_finish" class="reset" disabled>Reset</button>
      <button id="submit_finish" class="submit" disabled>Save</button>
    </div>
  </section>
</div>

<script>
  // post request
  const postData = async (url = "", data = {}) => {
    const response = await fetch(url, {
      method: "POST",
      mode: "cors",
      header: {
        "Origin": "*",
        "Access-Control-Request-Method": "POST"
      },
      body: JSON.stringify(data), // body data type must match "Content-Type" header
    });
    const json = await response.json(); 
    
    if (json.success) {
      console.log(json.success, data.type)
      protectRows(data.type);
    }
    document.querySelector(".code_start").value = "";
    document.querySelector(".code_read").value = "";
    document.querySelector(".code_finish").value = "";
    validateAll()
    validateDeploy();
    console.log(json)
  }

  // toggle sections
  const h2 = document.querySelectorAll("h2").forEach(toggle => toggle.addEventListener("click", (e) => {
    e.preventDefault();
    if (toggle.classList.contains('visible')) {
        toggle.classList.remove('visible');
        document.querySelector(`.section_${e.currentTarget.dataset.id}`).classList.remove("visible")
    } else {
        toggle.classList.add('visible');
        document.querySelector(`.section_${e.currentTarget.dataset.id}`).classList.add("visible")
    }
  }))

  const validateAll = () => {
    validateStart()
    validateStartReset()
    validateRead();
    validateReadReset();
    validateFinish();
    validateFinishReset();
  }

  const allUpdates = {
    start:[],
    read: [],
    finish: [],
    protectedIds: []
  }

  const updateBook = (item, updateId) => {
    if (!allUpdates[updateId].length || !allUpdates[updateId].find(el => el.id === item.id)) {
      allUpdates[updateId].push(item)
    return} 
    allUpdates[updateId] = allUpdates[updateId].map(el => {
      if (el.id === item.id) {
        return {...el, ...item};
      } else {
        return el
      }
    }
  )
  }

  const protectRows = (updateId) => {
    allUpdates.protectedIds = [...allUpdates.protectedIds, ...allUpdates[updateId].map(item => item.id)]
    allUpdates.protectedIds.forEach(id => {
      document.querySelectorAll(`tr[data-id="${id}"]`).forEach(row => row.classList.add("protected"))
      document.querySelectorAll(`input[data-id="${id}"]`).forEach(input => input.disabled = true)
    })
    allUpdates[updateId] = [];
  }

  // start
  const validateStart = () => {
    const isEverything = (item) => Object.hasOwn(item, "dateStart") && Object.hasOwn(item, "pagesFinish");
    if (!allUpdates.start.length) {
      document.querySelector("#submit_start").disabled = true;
      return
    }
    if (allUpdates.start.every(isEverything) && document.querySelector(".code_start").value.length === 4)  {
      document.querySelector("#submit_start").disabled = false;
    } else {
      document.querySelector("#submit_start").disabled = true;
    }
  }

  const validateStartReset = () => {
    if (allUpdates.start.length || document.querySelector(".code_start").value.length) {
      document.querySelector("#reset_start").disabled = false;
    } else {
      document.querySelector("#reset_start").disabled = true;
    }
  }

  const start_dateStart = document.querySelectorAll(".start_dateStart").forEach(input => input.addEventListener("change", (e) => {
    updateBook({id: e.currentTarget.dataset.id, dateStart: e.currentTarget.value}, "start");
    validateStart()
    validateStartReset()
  }))

  const start_pagesFinish = document.querySelectorAll(".start_pagesFinish").forEach(input => input.addEventListener("change", (e) => {
    updateBook({id: e.currentTarget.dataset.id, pagesFinish: parseInt(e.currentTarget.value)}, "start")
    validateStart()
    validateStartReset()
  }))

  const start_code = document.querySelector(".code_start").addEventListener("keyup", (e) => {
    validateStart();
    validateStartReset();
  })

  const startSave = document.querySelector("#submit_start").addEventListener("click", (e) => {
    postData("{{ env.NETLIFY_FUNCTIONS_URL }}/updateBook", {type: "start", code: document.querySelector(".code_start").value, updates: allUpdates.start} )
  })

  const startReset = document.querySelector("#reset_start").addEventListener("click", (e) => {
    allUpdates.start = [];
    document.querySelector(".code_start").value = "";
    document.querySelectorAll(".start_pagesFinish").forEach(input => input.value = "")
    document.querySelectorAll(".start_dateStart").forEach(input => input.value = "")
    validateStartReset()
    validateStart();
  })

  // Read
  const validateRead = () => {
    const isEverything = (item) => Object.hasOwn(item, "pagesFinish"); 
    if (!allUpdates.read.length) {
      document.querySelector("#submit_read").disabled = true;
      return
    }
    if (allUpdates.read.every(isEverything) && document.querySelector(".code_read").value.length === 4)  {
      document.querySelector("#submit_read").disabled = false;
    } else {
      document.querySelector("#submit_read").disabled = true;
    }
  }

  const validateReadReset = () => {
    if (allUpdates.read.length || document.querySelector(".code_read").value.length) {
      document.querySelector("#reset_read").disabled = false;
    } else {
      document.querySelector("#reset_read").disabled = true;
    }
  }

  const read_pagesFinish = document.querySelectorAll(".read_pagesFinish").forEach(input => input.addEventListener("change", (e) => {
    updateBook({id: e.currentTarget.dataset.id, pagesFinish: parseInt(e.currentTarget.value)}, "read");
    validateRead();
    validateReadReset();
  }))

  const read_code = document.querySelector(".code_read").addEventListener("keyup", (e) => {
    validateRead();
    validateReadReset();
  })

  const readSave = document.querySelector("#submit_read").addEventListener("click", async (e) => {
    postData("{{ env.NETLIFY_FUNCTIONS_URL }}/updateBook", {type: "read", code: document.querySelector(".code_read").value, updates: allUpdates.read} )
  })

  const readReset = document.querySelector("#reset_read").addEventListener("click", (e) => {
    allUpdates.read = [];
    document.querySelector(".code_read").value = "";
    document.querySelectorAll(".read_pagesFinish").forEach(input => input.value = input.dataset.initialvalue)
    validateReadReset();
    validateRead();
  })

  // Finish
  const validateFinish = () => {
    const isEverything = (item) => Object.hasOwn(item, "dateFinish") && Object.hasOwn(item, "stars") && Object.hasOwn(item, "pagesFinish"); 
    if (!allUpdates.finish.length) {
      document.querySelector("#submit_finish").disabled = true;
      return;
    }
    if (allUpdates.finish.every(isEverything) && document.querySelector(".code_finish").value.length === 4)  {
      document.querySelector("#submit_finish").disabled = false;
    } else {
      document.querySelector("#submit_finish").disabled = true;
    }
  }

  const validateFinishReset = () => {
    if (allUpdates.finish.length || document.querySelector(".code_finish").value.length) {
      document.querySelector("#reset_finish").disabled = false;
    } else {
      document.querySelector("#reset_finish").disabled = true;
    }
  }

  const finish_stars = document.querySelectorAll(".finish_stars").forEach(button => button.addEventListener("click", (e) => {
    updateBook({id: e.currentTarget.dataset.id, stars: parseInt(e.currentTarget.dataset.value), pagesFinish: null}, "finish");
    validateFinish();
    validateFinishReset();

    document.querySelectorAll(`[data-id="${e.currentTarget.dataset.id}"].finish_stars`).forEach(button => {
      if (button.dataset.value <= parseInt(e.currentTarget.dataset.value)) {
        button.classList.add("active");
      } else {
        button.classList.remove("active");
      }
    })
  }))

  const finish_dateFinish = document.querySelectorAll(".finish_dateFinish").forEach(input => input.addEventListener("change", (e) => {
    updateBook({id: e.currentTarget.dataset.id, dateFinish: e.currentTarget.value, pagesFinish: null}, "finish");
    validateFinish();
    validateFinishReset();
  }))

  const finish_code = document.querySelector(".code_finish").addEventListener("keyup", (e) => {
    validateFinish();
    validateFinishReset();
  })

  const finishSave = document.querySelector("#submit_finish").addEventListener("click", async (e) => {
    postData("{{ env.NETLIFY_FUNCTIONS_URL }}/updateBook", {type: "finish", code: document.querySelector(".code_finish").value, updates: allUpdates.finish} );
  })

  const finishReset = document.querySelector("#reset_finish").addEventListener("click", (e) => {
    allUpdates.finish = [];
    document.querySelector(".code_finish").value = "";
    document.querySelectorAll(".finish_dateFinish").forEach(input => input.value = "");
    document.querySelectorAll(".finish_stars").forEach(button => button.classList.remove("active"));
    validateFinishReset();
    validateFinish();
  })

// deploy
  const validateDeploy = () => {
    if (allUpdates.protectedIds.length) {
      document.querySelector("#submit_deploy").disabled = false;
    } else {
      document.querySelector("#submit_deploy").disabled = true;
    }
  }

  const postDeploy = async (url = "", data = {}) => {
    const response = await fetch("{{ env.NETLIFY_FUNCTIONS_URL }}/deploy", {
      method: "POST",
      mode: "cors",
      header: {
        "Origin": "*",
        "Access-Control-Request-Method": "POST"
      },
      body: JSON.stringify({
        code: document.querySelector(".code_deploy").value
      }), // body data type must match "Content-Type" header
    });
    const json = await response.json(); 
    
    if (json.success) {
      console.log(json.success, data.type)
      allUpdates.protectedIds = []
    }
    document.querySelector(".code_deploy").value = "";
    validateAll()
    validateDeploy();
    console.log(json)
  }

  const deploy = document.querySelector("#submit_deploy").addEventListener("click", async (e) => {
    postDeploy()
  })


</script>