{% assign books = book_object.books | reverse %}
{% assign mostPages = books | max: "pageCount" %}
{% assign mostBooks = books | max: "bookCount" %}
{% assign current = book_object.books | first %}
{% assign current_progress = 0 %}
{% assign current_total = 0 %}
{% for item in current.items %}
  {% assign current_progress = current_progress | plus: item.progress %}
  {% assign current_total = current_total | plus: item.pages %}
{% endfor %}
{% assign this_year = book_object.books | slice: 1, 1  | first %}

{% comment %} {% fictionPieChart %} {% endcomment %}
<label class="toggle bookStats-toggle" for="toggle">
  <input type="checkbox" name="toggle" id="toggle">
  <span class="slider"></span>
  <span class="icon">{{ "/src/img/icons/chart-simple-solid.svg" | svgContents: "icon" | safe }}</span>
</label>
<div class="bookStats">
  <div>
    <h4>Books by Years</h4>
    {% booksByYearSVG books %}
  </div>
  <div>
    <h4>Pages by Year</h4>
    {% pagesByYearSVG books %}
  </div>
  <div class="list">
    <h4>Stats</h4>
    <ul>
      <li><div class="prop">Most Books</div><div class="line"></div><div class="attr">{{ mostBooks.bookCount | number_with_delimiter }} books ({{ mostBooks.year }})</div></li>
      <li><div class="prop">Most Pages</div><div class="line"></div><div class="attr">{{ mostPages.pageCount | number_with_delimiter }} pages ({{ mostPages.year }})</div></li>
      <li><div class="prop">Current Books</div><div class="line"></div><div class="attr">{{ current.items.size | number_with_delimiter }} books</div></li>
      <li><div class="prop">Current Pages</div><div class="line"></div><div class="attr">{{ current_progress | number_with_delimiter }}/{{ current_total | number_with_delimiter }} pages</div></li>
      <li><div class="prop">This Year Books</div><div class="line"></div><div class="attr">{{ this_year.bookCount | number_with_delimiter }} books</div></li>
      <li><div class="prop">This Year Pages</div><div class="line"></div><div class="attr">{{ this_year.pageCount | number_with_delimiter }} pages</div></li>
      <li><div class="prop">This Year Book Rank</div><div class="line"></div><div class="attr">{{ book_object.bookRank | to_ordinal }}</div></li>
      <li><div class="prop">This Year Pages Rank</div><div class="line"></div><div class="attr">{{ book_object.pageRank | to_ordinal }}</div></li>
      <li><div class="prop">All Books</div><div class="line"></div><div class="attr">{{ book_object.finishedBooks | number_with_delimiter }} books</div></li>
      <li><div class="prop">All Pages</div><div class="line"></div><div class="attr">{{ book_object.finishedPages | number_with_delimiter }} pages</div></li>
    </ul>
  </div>
</div>

<script>
  const toggle = document.getElementById('toggle');
  toggle.addEventListener("change", function (e) {
    const stats = document.getElementsByClassName("bookStats")[0];
    if (toggle.checked) {
      stats.classList.add("active");
    } else {
      stats.classList.remove("active");
    }
  })
</script>