{% assign books = book_object.books | reverse %}
{% assign mostPages = books | max: "pageCount" %}
{% assign mostBooks = books | max: "bookCount" %}
<label class="toggle bookStats-toggle" for="toggle">
  <input type="checkbox" name="toggle" id="toggle">
  <span class="slider"></span>
  <span class="icon">{{ "/src/img/icons/chart-simple-solid.svg" | svgContents: "icon" | safe }}</span>
</label>
<div class="bookStats">
  <div>
    <h4>Books by Years</h4>
    {% booksByYearSVG books %}
  </div>
  <div>
    <h4>Pages by Year</h4>
    {% pagesByYearSVG books %}
  </div>
  <div class="list">
    <h4>Stats</h4>
    <ul>
      <li><strong>All Books</strong>{{ book_object.finishedBooks | number_with_delimiter }} books</li>
      <li><strong>All Pages</strong>{{ book_object.finishedPages | number_with_delimiter }} pages</li>
      <li><strong>Most Books</strong>{{ mostBooks.bookCount | number_with_delimiter }} books ({{ mostBooks.year }})</li>
      <li><strong>Most Pages</strong>{{ mostPages.pageCount | number_with_delimiter }} pages ({{ mostPages.year }})</li>
    </ul>
  </div>
</div>

<script>
  const toggle = document.getElementById('toggle');
  toggle.addEventListener("change", function (e) {
    const stats = document.getElementsByClassName("bookStats")[0];
    if (toggle.checked) {
      stats.classList.add("active");
    } else {
      stats.classList.remove("active");
    }
  })
</script>