{% assign years = books.years | reverse %}

<label class="toggle bookStats-toggle" for="toggle">
  <input type="checkbox" name="toggle" id="toggle">
  <span class="slider"></span>
  <span class="icon">{{ "/src/img/icons/chart-simple-solid.svg" | svgContents: "icon" | safe }}</span>
</label>
<div class="bookStats">
  <div>
    <h4>Books by Years</h4>
    {% booksByYearSVG years %}
  </div>
  <div>
    <h4>Pages by Year</h4>
    {% pagesByYearSVG years %}
  </div>
  <div class="list">
    <h4>Stats</h4>
    <table>
      <tr>
        <td></td>
        <td>Books</td>
        <td>Pages</td>
      </tr>
      <tr>
        <td>Most</td>
        <td>{{ books.stats.bestYearBooks.bookCount | number_with_delimiter }} ({{ books.stats.bestYearBooks.year }})</td>
        <td>{{ books.stats.bestYearPages.pageCount | number_with_delimiter }} ({{ books.stats.bestYearPages.year }})</td>
      </tr>
      <tr>
        <td>Current</td>
        <td>{{ books.stats.currentlyReadingBooks | number_with_delimiter }}</td>
        <td>{{ books.stats.currentlyReadingProgress | number_with_delimiter }}/{{ books.stats.currentlyReadingPages | number_with_delimiter }}</td>
      </tr>
      <tr>
        <td>This Year</td>
        <td>{{ books.stats.thisYear.bookCount | number_with_delimiter }} ({{ books.stats.currentBookRank | to_ordinal }})</td>
        <td>{{ books.stats.thisYear.pageCount | number_with_delimiter }} ({{ books.stats.currentPageRank | to_ordinal }})</td>
      </tr>
      <tr>
        <td>All Time</td>
        <td>{{ books.stats.totalBooks | number_with_delimiter }}</td>
        <td>{{ books.stats.totalPages | number_with_delimiter }}</td>
      </tr>
    </table>
  </div>
</div>

<script>
  const toggle = document.getElementById('toggle');
  toggle.addEventListener("change", function (e) {
    const stats = document.getElementsByClassName("bookStats")[0];
    if (toggle.checked) {
      stats.classList.add("active");
    } else {
      stats.classList.remove("active");
    }
  })
</script>