---
layout: layouts/base.liquid
---
<div class="page post">
  <h1>
    {%- if book -%}
      {{ "/src/img/icons/book-light.svg" | svgContents: "icon" | safe }}
    {%- endif -%}
    {{ title }}
  </h1>
  <h3>{{ date | date: "%B %e, %Y"}}</h3>
  {%- assign classes = "content" -%}
  {%- if book -%}
    {%- assign classes = classes | append: " has-book" -%}
  {%- endif -%}
  <div class="{{ classes }}">
    {%- if book -%}
      {%- assign book_data = books | getBook: book -%}
      <aside>
        {%- if book_data.image -%}
          <img src="./../../img/books/{{ book_data.image }}" />
        {%- endif -%}
        <div>
          {%- if book_data.title -%}
            <h4>{{ book_data.title }}</h4>
          {%- endif -%}
          {%- if book_data.author -%}
            <p>by {{ book_data.author }}</p>
          {%- endif -%}
          {%- if book_data.url -%}
            <a href="{{ book_data.url }}">Get it here</a>
          {%- endif -%}

          {%- if book_data.stars -%}
            <div class="stars">
              <div class="stars-back">
                {% for i in (1..5) %}
                  {{ "/src/img/icons/star-solid.svg" | svgContents: "icon" | safe }}
                {% endfor %}
              </div>
              <div class="stars-front">
                {% assign full_stars = book_data.stars | floor %}
                {% assign half_star = book_data.stars | divided_by: 0.5 | modulo: 2 %}
                {% for i in (1..full_stars) %}
                  {{ "/src/img/icons/star-solid.svg" | svgContents: "icon" | safe }}
                {% endfor %}
                {%- if half_star == "1" -%}
                  {{ "/src/img/icons/star-half-solid.svg" | svgContents: "icon" | safe }}
                {%- endif -%}
                </div>
            </div>
          {%- endif -%}
        </div>
      </aside>
    {%- endif -%}
    <article>
      {{ content | safe }}
    </article>
  </div>
</div>
